[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "{python_version}"

[packages]

[dev-packages]
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
ipykernel = "*"
autopep8 = "*"
pylint = "*"
notebook = "*"
pytest-asyncio = "*"
black = "*"
pytest-mock = "*"
mock = "*"
